# Append global options to dxc that will be added to all HLSL targets.
build --@rules_vulkan//hlsl:extra_opts=-Ges,-Zpc
build --@rules_vulkan//slang:extra_opts=-disable-short-circuit
build --@rules_vulkan//glsl:extra_opts=-g
